<%# header %>
<%= render "shared/header" %>

<div class="mypage">
  <div class="show-form">
    <div class="user-name">
      <%= "#{@nickname}さんの単語リスト" %>
    </div>
    
  <table>
    <tr>
    <th>キーワード</th>
    <th>ジャンル</th>
    <th>説明文</th>
    <th>音声</th>
    <th>正誤</th>
    </tr>
  <% @keywords.each do |keyword| %>
    <tr>
      <td class="form-word">
      <% if user_signed_in? && keyword.user_id == current_user.id %>
        <div class="edit-destroy-list">
          <p><i class="fas fa-caret-down"></i></p> 
          <ul class=edit-destroy>
            <li class="edit-page"><%= link_to  edit_keyword_path(keyword.id), class:"go-to-edit" do %>
            <span class="fas fa-edit"></span>
            <% end %>
            </li>
            <li class="destroy-page"><%= link_to keyword_path(keyword.id),method: :delete, class:"go-to-destroy" do %>
            <span class="fas fa-trash-alt"></span>
            <% end %>
            </li>
          </ul>
        </div>
      <% end %>
        <div class="keyword-title">
          <%= keyword.word %>
        </div>
      </td>
      <td class="form-genre"><%= keyword.genre.name %></td>
      <td class="form-instruction-sentence">
        <div class="form-instruction">
          <p id="eye-btn"><i class="far fa-eye fa-2x"></i></p>
          <div class="instruction-sentence hidden" id="instruction" >
            <%= markdown(keyword.instruction) %>
          </div>
        </div>
      </td>
      
      <%# 音声 %>
      <td>
        <% if keyword.audio.present? && keyword.user_id == current_user.id %> 
          <%= audio_tag keyword.audio_url, :controls => true  %>
        <% end %>  
      </td>
      <%# チェックボタン %>
    <% if user_signed_in? && keyword.user_id == current_user.id %>
      <% if current_user.tested_by?(keyword.id) %>
      <div class="check-btn">
        <td>
          <%= link_to keyword_test_path(keyword.id), method: :delete do %>
            <div class="good-btn">
              <i class="fas fa-check-circle fa-2x"></i>
            </div>
          <% end %>
        </td>
      <% else %>
        <td>
        <%= link_to keyword_tests_path(keyword.id), method: :post do %>
          <div class="bad-btn">
            <i class="fas fa-times-circle fa-2x"></i>
          </div>
        <% end %>
        </td>
      <% end %>

    <%# 自分以外のユーザーが閲覧した場合ダミーを見せる %>
    <% else %> 
      <td>
        <div class="dummy-image">
          <i class="fas fa-laptop"></i>
        </div>
      </td>
    <% end %>
    </tr>
  <% end %>
  </table>  
  </div>
</div>

<%= render "shared/footer" %>