<%# header %>
<%= render "shared/header" %>

<div class="mypage">
  <div class="show-form">
    <div class="user-name">
      <%= "#{@nickname}さんの単語リスト" %>
    </div>
    
    <table>
    <tr>
    <th>キーワード</th>
    <th>ジャンル</th>
    <th>説明文</th>
    <th>音声</th>
    <th>達成度</th>
    </tr>
    <% @keywords.each do |keyword| %>
    <tr>
    <td><%= keyword.word %></td>
    <td><%= keyword.genre.name %></td>
    <td><%= keyword.instruction %></td>
    <td>#</td>
    <td>#</td>
    </tr>
    <% end %>
    </table>  
    
  </div>
</div>