<header class='top-page-header'>
  <div class="title">
    <%= link_to image_tag("logo.png", class:"title-icon"), root_path %>
  </div>
  <div class="list">
    <% if user_signed_in? %>
       <li><%= link_to user_path(current_user.id) do %>
          <span class="fas fa-user-edit"></span>
          <% end %>
       </li>
       <li><%= link_to destroy_user_session_path, method: :delete do %>
         <span class="fas fa-sign-out-alt"></span>
         <% end %>
       </li>
       <li><%= link_to new_keyword_path do %>
         <span class="fas fa-pencil-alt"></span>
         <% end %>
       </li>
    <% else %>
      <%# ログイン %>
      <li><%= link_to new_user_session_path do %>
        <span class="fas fa-sign-in-alt"></span>
        <% end %>
      </li>
      <li><%= link_to "新規登録はこちらから", new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </div>
</header>