<%= render "shared/header" %>

<div class="room">
  <div class="room-contents">
    <div class="room-title">
      <%= "#{@room.name}の学習レポート" %>
    </div>

    <%# 投稿一覧 %>
    <% @messages.each do |message| %>
    <div class="room-main-contents">
      <div class="message">
        <div class="message-content">
          <%= message.content %>
        </div>
        <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
      </div>
    </div>
    <% end %>

    <%# 送信ボタン %>
    <%= form_with model:[@room, @message], url: room_messages_path(@room.id), method: :post, id: "form", local: true do |form| %>
      <div class="form">
        <div class="room-form">
          <%= form.text_area :content, class:"room-content-form" %>
        </div>
        <label class="form-image">
          <span class="image-file"><i class="fas fa-camera"></i></span>
          <%= form.file_field :image, class: 'hidden' %>
        </label>
        <%= button_tag :type => "submit", class: "room-btn" do %>
          <i class="far fa-paper-plane"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
