<%# header %>
<%= render "shared/header" %>

<div class ='main'> 
  <%# 画面上部「これから輝くエンジニアの卵たちへ」帯部分 %>
  <div class ='top-contents'>
    <h2 class = 'service-title'>これから駆け上がるエンジニアの皆さんへ</h2>
    <div class ='service-text'>
      <p class = 'service-explain'>プログラミング学習に特化した<span>単語帳アプリ</span></p>
      <p class = 'service-explain'>エラーを共有できる<span>チャットルーム</span></p>
    </div> 
  </div>
  
  <%# 単語帳とチャットルーム説明 %>
  <div class= 'main-contents'>
    <h2 class= 'contents-title'>特徴</h2>
    <div class = 'words-contents'>
      <%= image_tag "pc.png", class:"pc-pict" %>
      <div class = 'words-text'>
        <h3 class = 'words-title'>自分の弱点を狙い撃ちできる単語帳機能搭載！</h3>
        <p class = 'words-details'>プログラミングを学習していると</p>
        <p class = 'words-details'>新しい言葉がどんどん出て頭の中がパンクした経験はありませんか？</p>
        <p class = 'words-details'>そんなあなたに自分の弱点だけをまとめた単語帳であなたの勉強をサポートします</p>
        <% if user_signed_in? %>
        <div class = 'btn'>
          <%= link_to "入力する", new_keyword_path, class: "words-enter-btn" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class = 'rooms-contents'>
      <div class = 'rooms-text'>
        <h3 class = 'rooms-title'>エラーを共有できるチャットルーム機能搭載！</h3>
        <p class = 'rooms-details'>プログラミンを学習していると必ずエラーに直面します</p>
        <p class = 'rooms-details'>大変だった経験したエラーを記録として残しておきたい！</p>
        <p class = 'rooms-details'>同じ目標を持つ仲間とエラーを窮した！</p>
        <p class = 'rooms-details'>そんなあなたに画像、コメントが投稿できるチャットルームをお届けします</p>
        <% if user_signed_in? %>
        <div class = 'btn'>
          <%= link_to "ルームを作成する", '#', class: "room-enter-btn" %>
        </div>
        <% end %>
      </div>
      <%= image_tag "meeting.png", class:"meeting-pict" %>
    </div>
  </div>
  <div class="user-lists">
    <h2 class = 'contents-title'>PLAYER</h2>
    <% @users.each do |user| %>
      <div class = 'user-list'>
        <%= image_tag user.photo.variant(resize: '200x300'), class: 'user-photo' %>
        <div class = "user-nickname">
        <%= link_to user.nickname, class: 'nickname' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="room-list">
    <h2 class = 'contents-title'>ROOM</h2>
  </div>
</div>
<%# footer %>
<%= render "shared/footer" %>