<%# header %>
<%= render "shared/header" %>

<div class ='main'> 
  <%# 画面上部帯部分 %>
  <div class='top-part'>
  <div class ='top-contents'>
    <div class = 'service-title'>さあ、エンジニアの航海へ出よう</div>
  </div>
  </div>
  
  <%# 単語帳とチャットルーム説明 %>
  <div class= 'main-contents'>
    <h2 class= 'contents-title'>特徴</h2>
    <div class = 'words-contents'>
      <%= image_tag "pc.png", class:"pc-pict" %>
      <div class = 'words-text'>
        <h3 class = 'words-title'>自分の弱点を狙い撃ちできる<span>単語帳機能搭載！</span></h3>
        <p class = 'words-details'>プログラミングを学習していると</p>
        <p class = 'words-details'>新しい言葉がどんどん出て頭の中がパンクした経験はありませんか？</p>
        <p class = 'words-details'>そんなあなたに<span>自分の弱点だけをまとめた単語帳</span>であなたの勉強をサポートします</p>
        <% if user_signed_in? %>
        <div class = 'btn'>
          <%= link_to "単語を入力する", new_keyword_path, class: "words-enter-btn" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class = 'rooms-contents'>
      <div class = 'rooms-text'>
        <h3 class = 'rooms-title'>日々の学習を記録できる<span>レポート機能搭載！</span></h3>
        <p class = 'rooms-details'>プログラミンを学習していると必ずエラーに直面します</p>
        <p class = 'rooms-details'>大変だった経験したエラーを記録として残しておきたい！</p>
        <p class = 'rooms-details'>そんなあなたに<span>画像、コメントが投稿</span>できるレポートページをお届けします</p>
        <% if user_signed_in? %>
        <div class = 'btn'>
          <%= link_to "レポートを作成する", new_room_path, class: "room-enter-btn" %>
        </div>
        <% end %>
      </div>
      <%= image_tag "meeting.png", class:"meeting-pict" %>
    </div>
  </div>

  <%# PLAYER一覧 %>
  <div class="user-lists">
    <h2 class = 'contents-title'>PLAYER</h2>
    <div class="contents-title-enter">
      <%= link_to "こちらから単語を入力する", new_keyword_path, class: "words-enter-btn-second" %>
    </div>
    <% @users.each do |user| %>
      <div class = 'user-list'>
        <%= link_to user_path(user.id), class: 'nickname' do %>
          <%= image_tag user.photo.variant(resize: '200x300'), class: 'user-photo' %>
          <div class = "user-nickname">
            <%= user.nickname %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# レポート表示 %>
  <% if user_signed_in? %>
  <div class="room-lists">
    <h2 class = 'contents-title'>REPORT</h2>
    <div class="contents-title-enter">
      <%= link_to "こちらからレポートを作成する", new_room_path, class: "room-enter-btn-second" %>
    </div>
    <% @rooms.each do |room| %>
      <div class="room-list">
        <%= link_to room_path(room.id), class:"room-name-list" do %>
          <i class="fas fa-newspaper room-icon"></i>
          <div class="room-name">
            <%= room.name %>
          </div>
        <% end %>
        <div class="trush-icon">
          <%= link_to room_path(room.id), method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
  <% end %>

  <%# モーダル表示 %>
  <div class="how-to-use" id="how-to-modal">
    <div class="modal-content">
      <div class="close-modal">
        <i class="fa fa-2x fa-times"></i>
      </div>
      <h2 class="modal-title">~使用方法~</h2>
      <p class="modal-sentence"><span class="modal-voca">Voca Tech</span>はプログラミング学習に特化した</p>
      <p class="modal-sentence">単語帳アプリです。</p>
      <p class="modal-sentence">単語投稿機能とレポート作成機能が</p>
      <p class="modal-sentence">本アプリに搭載されています。</p>
    </div>
  </div>
</div>
<%# footer %>
<%= render "shared/footer" %>