<div class="keyword-new-contents">
  <div class="keyword-contens-form">
    <h2 class="keyword-contents-title">新規投稿</h2>
    <h1 class="form-detail">全ての項目が必須です</h1>
    <%= form_with model: @keyword, url: keywords_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 投稿フォーム %>
    <%# ワード %>
    <div class="word-upload">
      <div class="form-title">
        キーワード
      </div>
      <div class="word-form">
        <%= f.text_area :word, id:"keyword-word", class: "word-form-area" %>
      </div>
    </div>

    <%# ジャンル %>
    <div class="genre-upload">
      <div class="form-title">
        ジャンル
      </div>
      <div class="genre-form">
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"keyword-genre"}) %>
      </div>
    </div>

    <%# 説明文 %>
    <div class="instruction-upload">
      <div class="form-title">
        説明文
      </div>
      <div class="instruction-form">
        <%= f.text_area :instruction, class:"keyword-instruction", id:"instruction-info", placeholder:"キーワードの説明（必須 1,000文字まで）　MarkDown法記述可" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <%# 送信ボタン %>
    <div class="submit-btn-contents">
      <%= f.submit "投稿する" ,class:"submit-btn" %>
      <div class="back">
        <%= link_to 'トップページに戻る', root_path, class: "back-btn" %>
      </div>
    </div>

    <% end %>
  </div>
</div>